<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">


                    <div class="invoice p-5">

                        <h5>{{newuserdata.name}}
                            <br>Your order Confirmed!✔</h5>

                        <span class="font-weight-bold d-block mt-4">Hello, {{newuserdata.name}}</span>
                        <span>You order has been confirmed and will be shipped in next two days!</span>               

                            <div class="product border-bottom table-responsive">

                                <table class="table table-borderless">

                                <tbody>
                                    <tr *ngFor="let i of list">
                                        <td width="20%">
                                        
                                        <img src="{{i.img}}" width="120">

                                    </td>
                                
                                    <td width="60%">
                                        <span class="font-weight-bold">{{i.name}}</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:{{i.quantity}}</span>
                                            
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">{{i.sale}}</span>
                                        </div>
                                    </td>
                                    </tr>


                                    
                                </tbody> 
                                    
                                </table>
                                


                            </div>



                           
                            <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                            <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                      

                    </div>                 
       
    </div>            
        </div>        
    </div>
    
</div>
