<!-- <li class="list-group-item" *ngIf="!update">
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>    
    <span>
        <button class="btn btn-danger btn-sm"(click)=ondelete()>
            Delete
        </button>
    </span>
    <span>
        <button class="btn btn-warning btn-sm"(click)=updateopen()>
            update
        </button>
    </span>
</li> -->

<div class="container" style="width:100%">
    <div class="row">
        <ul>
        <div class="col"><app-update *ngIf="update" [post]="post"></app-update></div>
        </ul>
    </div>
</div>




<div class="card"  *ngIf="!update">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="{{post.image}}" class="img-fluid" style="width: 100%;"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <p class="card-text">{{post.content}}</p>
      <div class="end">
      <button class="btn btn-primary m-3" (click)=updateopen()>Update</button>
      <button class="btn btn-warning" (click)=ondelete()>Delete</button>
      </div>
    </div>
  </div><br><br><br>






<!-- 

  <div class="card" style="width: 18rem;">
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-light list-group-small">
      <li class="list-group-item px-4">Cras justo odio</li>
      <li class="list-group-item px-4">Dapibus ac facilisis in</li>
      <li class="list-group-item px-4">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div> -->