    <!-- <h1>First angular</h1>
    <p>Hello</p>-->
    <!-- <app-products> </app-products> -->
<!-- <warning-alert></warning-alert> -->
<!-- <success-alert></success-alert>  -->
<!-- <app-server></app-server> -->
<!-- <app-names></app-names> -->
<!-- <app-clicklogs></app-clicklogs> -->

<!-- <app-accounts></app-accounts> -->

<!-- <div class="container">
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a  class="nav-link" routerLink="/">Home</a>
                </li>
                <li role="presentation" class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" routerLink="server">Server</a>
                </li>
                <li role="presentation" class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" routerLink="warningalert">Warningalert</a>
                </li>
                <li role="presentation" class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" routerLink="names">Names</a>
                </li>
                <li role="presentation" class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" routerLink="products">Products</a>
                </li>
                <li role="presentation" class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" routerLink="observe">Observe</a>
                </li>
                <li role="presentation" class="nav-item" routerLinkActive="active">
                    <a  class="nav-link" routerLink="blogposts">blogposts</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->


<!-- <app-project></app-project> -->

<!-- <app-blogpostscopy></app-blogpostscopy> -->

<!-- <app-foodblogproject></app-foodblogproject> -->



<!-- <app-kitchenstory></app-kitchenstory> -->














<app-homepage></app-homepage>